<nav class="navbar navbar-default bg-dark border-bottom border-body sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <header>
            <a class="navbar-brand" href="{% url 'transcriber:recorder' %}">{{ title }}</a>
        </header>
        <div class="me-auto mb-2 mb-lg-0" id="navbarSupportedContent">
            <a href="{% url 'transcriber:recorder' %}"><button type="button" class="btn btn-primary">Record and Transcribe</button></a>
            <a href="{% url 'transcriber:result_list' %}"><button type="button" class="btn btn-primary">Transcriptions</button></a>
        </div>
    </div>
</nav>