/* Modal Styling */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-content: center;
}

.modal-container {
    display: grid;
    align-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px;
    margin: 0 20%;
    max-height: 90%;
}

.modal-container button {
    justify-self: center;
}

.modal-content {
    display: grid;
    /* height: auto; */
    justify-items: center;
}

/* Specific max dimensions to avoid overflow for wide screens */
.modal-content img {
    max-width: 600px;
    max-height: 600px;
}